name: Deploy Portfolio API

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/portfolio-api
            git pull
            docker build -t portfolio-api .
            docker stop portfolio-api || true
            docker rm portfolio-api || true
            docker run -d --env-file .env -p 3000:3000 --name portfolio-api portfolio-api
